<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar>
  <span>Welcome to {{ title }}!</span>
</mat-toolbar>

<div>
  <button
    [@hoverScale]="buttonState"
    (mouseenter)="buttonState = 'enter'"
    (mouseleave)="buttonState = 'leave'"
    mat-raised-button
    routerLink=""
  >List</button>
  <button mat-raised-button routerLink="race-create">Create Race</button>
  <button mat-raised-button routerLink="poney-create">Create Poney</button>
</div>

<router-outlet></router-outlet>
