<h1>Create Poney</h1>

<form [formGroup]="poneyForm" (submit)="handleSubmit()">

  <mat-form-field>
    <input matInput placeholder="Name" formControlName="name">
    <mat-error *ngFor="let error of poneyForm.controls.name.errors | keyvalue">
      {{ errorMessages[error.key] }}
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Image" formControlName="img">
    <mat-error *ngFor="let error of poneyForm.controls.img.errors | keyvalue">
      {{ errorMessages[error.key] }}
    </mat-error>
  </mat-form-field>

  <button mat-raised-button [disabled]="poneyForm.invalid" type="submit">Create</button>

</form>